<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>
<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">WEB PROGRAMMING SHOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/products">Products</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/manufacturers">Manufacturers</a>
                    </li>
                </ul>


                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i> Cart
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a href="#" class="btn btn-light btn-sm ml-3" sec:authentication="name">
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa-solid fa-right-from-bracket"></i> Logout
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa-solid fa-right-to-bracket"></i> Login
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <h1 id="web66">WEB PROGRAMMING SHOP</h1>
<!--    <h1 id="web66">SHOPPING-CART-->
<!--        <th:block th:if="${session.user.getUsername() != null}">-->
<!--            <span th:text="${session.user.getUsername()}"></span> :-->
<!--        </th:block>-->
<!--        <th:block th:if="${session.user == null}">-->
<!--            Not Found-->
<!--        </th:block>-->
<!--    </h1>-->
<!--    <div th:if="${hasError}">-->
    <div>
        <h5 id="error1" th:block th:if="${hasError}"
        th:text="${error}">
<!--    </th:block>-->
        </h5>

</div>



    <style>
        #web66{
            justify-content: center;
            justify-items: center;
            text-align: center;
            background-color: grey;
            padding-top: 50px;
            padding-bottom: 50px;

        }
        #error1{
            color: red;
            text-align: center;
        }

    </style>

</header>



<div class="container" xmlns:th="http://www.thymeleaf.org">


<!--    <div class="container mt-4">-->
<!--        <div th:action="@{/shopping-cart}" th:method="GET">-->
<!--            <div class="row g-3 align-items-end">-->
<!--                <div class="col-md-6 form-group">-->
<!--                    <label for="searchName" class="form-label">Search by Name</label>-->
<!--                    <input type="text" th:value="${name}" class="form-control" id="searchName"-->
<!--                           placeholder="Enter product name" name="name">-->
<!--                </div>-->

<!--                &lt;!&ndash;                <div class="col-md-3 form-group">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <label for="categorySelect" class="form-label">Category</label>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <select name="categoryId" id="categorySelect" class="form-control">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <option value="">All categories</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <option th:each="cat : ${categories}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:value="${cat.getId()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:text="${cat.getName()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:selected="${categoryId != null && categoryId == cat.getId()}">&ndash;&gt;-->
<!--                &lt;!&ndash;                        </option>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </select>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->

<!--                &lt;!&ndash;                <div class="col-md-3 form-group">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <label for="manufacturerSelect" class="form-label">Manufacturer</label>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <select name="manufacturerId" id="manufacturerSelect" class="form-control">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <option value="">All manufacturers</option>&ndash;&gt;-->
<!--                &lt;!&ndash;                        <option th:each="man : ${manufacturers}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:value="${man.getId()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:text="${man.getName()}"&ndash;&gt;-->
<!--                &lt;!&ndash;                                th:selected="${manufacturerId != null && manufacturerId == man.getId()}">&ndash;&gt;-->
<!--                &lt;!&ndash;                        </option>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </select>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->

<!--                <div class="col-12 mb-1">-->
<!--                    <button class="btn btn-primary w-100" type="submit">Search</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${products.size()>0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}" class="product">
                            <div th:if="${product.getId()!=p}">
                            <td th:text="${product.getName()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                            <td th:text="${product.getManufacturer() != null}
                            ? ${product.getManufacturer().getName()} : 'No Manufacturer'"></td>
                            <td th:text="${product.getCategory() != null}
                            ? ${product.getCategory().getName()} : 'No Category'"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--                    <div th:include="fragments/paging :: pageSection(${page})"></div>-->
                </div>
            </div>
        </div>
    </div>
<!--        </div>-->

    <footer class="text-black-50 mt-xl-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-xl-3">
                    <h5>About</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <p class="mb-0">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                        impression.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <h5>Informations</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <h5>Others links</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>Contact</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i> My company</li>
                        <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                        <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                        <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>